################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HttpClientFactory100/bin/Debug/netcoreapp3.1
/HttpClientFactory100/obj
/HttpClientFactory200/bin/Debug/netcoreapp3.1
/HttpClientFactory200/obj
/HttpClientFactory300/bin/Debug/netcoreapp3.1
/HttpClientFactory300/obj
/HttpClientFactory400/bin/Debug/netcoreapp3.1
/HttpClientFactory400/obj
/HttpClientFactory500/bin/Debug/netcoreapp3.1
/HttpClientFactory500/obj
/Middleware100/bin/Debug/netcoreapp3.1
/Middleware100/obj
/Middleware200/bin/Debug/netcoreapp3.1
/Middleware200/obj
/Middleware300/bin/Debug/netcoreapp3.1
/Middleware300/obj
/ModelViewController100/bin/Debug/netcoreapp3.1
/ModelViewController100/obj
/ThreadingChannel100/obj
/Dump100/bin/Debug/netcoreapp3.1
/Dump100/obj
/ZSamples/DelegatingHandlerRegistrationHelper/bin/Debug
/ZSamples/DelegatingHandlerRegistrationHelper/obj
/ZSamples/PerRequestPolicyFiltering/bin/Debug/netcoreapp3.1
/ZSamples/PerRequestPolicyFiltering/obj
/ZSamples/SelectiveHandlerInvocation/bin/Debug/netcoreapp3.1
/ZSamples/SelectiveHandlerInvocation/obj
